
colors = {
	border: #dddddd,
	text: #dddddd,
	sub_text: #dddddd,
	link_text: #dddddd,
	nickname: #dddddd,
	input_bg: #222831,
	input_line: #30475e,
	input_text: white,
	btn_text: #dddddd,
	btn_line: #222831,
	btn_bg: #30475e
};
@import "./base.styl"