colors = {
	border: #5f6b74,
	text: #525869,
	sub_text: #5f6b74,
	nickname: #375f99,
	input_bg: white,
	input_line: #5f6b74,
	input_text: #5f6b74,
	btn_text: #fff,
	btn_line: #375f99,
	btn_bg: #375f99
};
@import "./base.styl"