<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gralig@0.5.0/dist/gralig.min.css" />
  </head>
  <body>
    <ul class="list">
      {{ range.data.Records }}
      <li class="list-item u-flex-col">
        <div class="p-small">
          ID：<span class="text-yellow">{{.ID}}</span> 昵称：<span class="text-yellow">{{.Nickname}}</span> 邮箱：<span class="text-blue">{{.Mail}}</span> 日期：<span class="text-yellow">{{.CreatedAt | formatAsDate}}</span>
        </div>
        <p>{{.Content}}</p>
        <p class="p-small">
          <button data-id="{{ .ID }}" class="del-btn btn btn-small btn-red">删除</button>
        </p>
      </li>
      {{ end }}
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
    <script>
      $(".list").on("click", ".del-btn", function () {
        let id = $(this).data("id");
        if (confirm("确认删除ID为" + id + "的评论吗")) {
          $.post("delete", { id }, function () {
            location.reload();
          });
        }
      });
    </script>
  </body>
</html>
